@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap%27');
body {
  margin: 0;
  font-family: 'Hind';
  background-image: url('./media/Homem.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('./media/Home.jpg');
  }
}
